---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      this is my personal blog where i post some things that are captvating my
      interests. Built with <a
        href="https://astro.build/"
        target="_blank"
        class="text-blue-500 underline">Astro</a
      > and <a
        href="https://tailwindcss.com/"
        target="_blank"
        class="text-blue-500 underline">Tailwind</a
      >.
    </p>
  </main>
</Layout>
